<!DOCTYPE html>
<html class="bg-base-100 text-white font-sans">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar', {page: '/about'}) %>

    <div class="container mx-auto">
      <div
        class="hero bg-gray-900 bg-opacity-15 text-white text-center mt-3 mb-2 p-40 rounded-lg">
        <div class="mx-auto">
          <h2 class="text-4xl font-bold text-black mb-4">About</h2>
          <p class="text-2xl font-bold text-black">Everything you want to know about me</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="flex justify-end">
          <div class="w-4/5">
            <img
              src="https://educationsnapshots.com/wp-content/uploads/sites/4/2022/01/seneca-college-newnham-campus-food-hall-3-700x467-compact.jpg"
              alt="photo"
              class="max-w-full border-white border-5 rounded-lg shadow-md"
            />
          </div>
        </div>
        <div class="flex items-center">
          <p class="text-lg text-black pr-20">
            Hey there! I'm Franz Balite, a CPA program
            student. Donec sollicitudin molestie tortor, vel feugiat nulla
            maximus quis. Suspendisse ut sapien id mauris sollicitudin commodo.
            Quisque semper, ligula et tincidunt dapibus, nisi ante fermentum
            lectus, nec molestie sem eros vel neque. Duis sit amet ligula eu
            ligula consectetur blandit sed at mi. Sed ac odio aliquet,
            vestibulum justo eget, volutpat eros. Mauris a dictum erat. Vivamus
            sodales egestas tempus. Duis pulvinar nibh enim, vel gravida nunc
            egestas id. Duis magna ante, posuere id luctus id, mattis at ipsum.
            Nullam sit amet magna et dui varius tristique ac id nisl.
            Pellentesque est dolor, luctus vitae dictum ut, hendrerit lacinia
            lorem. Nullam a pharetra tortor.
            Donec sollicitudin molestie tortor, vel feugiat nulla maximus quis.
            Suspendisse ut sapien id mauris sollicitudin commodo. Quisque
            semper, ligula et tincidunt dapibus, nisi ante fermentum lectus, nec
            molestie sem eros vel neque. Duis sit amet ligula eu ligula
            consectetur blandit sed at mi. Sed ac odio aliquet, vestibulum justo
            eget, volutpat eros. Mauris a dictum erat. Vivamus sodales egestas
            tempus. Duis pulvinar nibh enim, vel gravida nunc egestas id. Duis
            magna ante, posuere id luctus id, mattis at ipsum. Nullam sit amet
            magna et dui varius tristique ac id nisl. Pellentesque est dolor,
            luctus vitae dictum ut, hendrerit lacinia lorem. Nullam a pharetra
            tortor.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
